{
  "auto_clear_cache": false,
  "cache_dir": "/var/lib/hokku/cache",
  "classifier_bw_detect_enabled": true,
  "classifier_face_aware_crop_enabled": false,
  "classifier_face_detect_clahe_keepout": true,
  "classifier_face_detect_enabled": true,
  "crop_to_fill_threshold": 0.1,
  "debug_fast_refresh": false,
  "firmware_dir": "/var/lib/hokku/firmware",
  "firmware_github_repo": "defl/hokku_epaper",
  "flash_wifi_pass": "",
  "flash_wifi_pass2": "",
  "flash_wifi_ssid": "",
  "flash_wifi_ssid2": "",
  "image_config_bw": {
    "adaptive_saturate_space": "off",
    "adaptive_vivid": false,
    "clahe_clip_limit": 2.25,
    "clahe_keepout_feather": 0.015,
    "color_enhance": 1.05,
    "dither": {
      "algorithm": "atkinson",
      "hue_cutoff_deg": 95.0,
      "lut_name": "bw",
      "neutral_chroma": 8.0,
      "serpentine": true
    },
    "dither_noise": 2.0,
    "drc_chroma_space": "oklab",
    "drc_l_space": "oklab",
    "prepare_autocontrast_cutoff": 0.5,
    "prepare_brightness": 1.0,
    "prepare_contrast": 1.1,
    "prepare_gamma": 0.88,
    "prepare_midtone": 1.02,
    "prepare_usm_amount": 120,
    "prepare_usm_radius": 1.0,
    "saturate_high_chroma_thresh": 15.0,
    "saturate_high_chroma_thresh_oklab": 0.075,
    "saturate_low_chroma_thresh": 5.0,
    "saturate_low_chroma_thresh_oklab": 0.025,
    "saturate_max_enhance": 1.0,
    "scale_chroma": false,
    "vivid_chroma_high": 15.0,
    "vivid_chroma_high_oklab": 0.075,
    "vivid_chroma_low": 5.0,
    "vivid_chroma_low_oklab": 0.025
  },
  "image_config_default": {
    "adaptive_saturate_space": "oklab",
    "adaptive_vivid": true,
    "clahe_clip_limit": 1.75,
    "clahe_keepout_feather": 0.015,
    "color_enhance": 1.25,
    "dither": {
      "algorithm": "atkinson",
      "hue_cutoff_deg": 95.0,
      "lut_name": "hue_aware",
      "neutral_chroma": 8.0,
      "serpentine": true
    },
    "dither_noise": 2.0,
    "drc_chroma_space": "oklab",
    "drc_l_space": "oklab",
    "prepare_autocontrast_cutoff": 0.5,
    "prepare_brightness": 1.0,
    "prepare_contrast": 1.1,
    "prepare_gamma": 0.88,
    "prepare_midtone": 1.02,
    "prepare_usm_amount": 120,
    "prepare_usm_radius": 1.0,
    "saturate_high_chroma_thresh": 15.0,
    "saturate_high_chroma_thresh_oklab": 0.075,
    "saturate_low_chroma_thresh": 5.0,
    "saturate_low_chroma_thresh_oklab": 0.025,
    "saturate_max_enhance": 1.25,
    "scale_chroma": false,
    "vivid_chroma_high": 15.0,
    "vivid_chroma_high_oklab": 0.075,
    "vivid_chroma_low": 5.0,
    "vivid_chroma_low_oklab": 0.025
  },
  "image_config_face": {
    "adaptive_saturate_space": "off",
    "adaptive_vivid": false,
    "clahe_clip_limit": 1.25,
    "clahe_keepout_feather": 0.015,
    "color_enhance": 1.25,
    "dither": {
      "algorithm": "atkinson",
      "hue_cutoff_deg": 95.0,
      "lut_name": "hue_aware",
      "neutral_chroma": 8.0,
      "serpentine": true
    },
    "dither_noise": 2.0,
    "drc_chroma_space": "cielab",
    "drc_l_space": "cielab",
    "prepare_autocontrast_cutoff": 0.5,
    "prepare_brightness": 1.0,
    "prepare_contrast": 1.1,
    "prepare_gamma": 0.88,
    "prepare_midtone": 1.02,
    "prepare_usm_amount": 130,
    "prepare_usm_radius": 1.2,
    "saturate_high_chroma_thresh": 15.0,
    "saturate_high_chroma_thresh_oklab": 0.075,
    "saturate_low_chroma_thresh": 5.0,
    "saturate_low_chroma_thresh_oklab": 0.025,
    "saturate_max_enhance": 1.25,
    "scale_chroma": false,
    "vivid_chroma_high": 15.0,
    "vivid_chroma_high_oklab": 0.075,
    "vivid_chroma_low": 5.0,
    "vivid_chroma_low_oklab": 0.025
  },
  "mdns_hostname": "hokku",
  "memory_budget_mb": 0,
  "poll_interval_seconds": 10,
  "port": 8080,
  "refresh_image_at_time": [
    "0600",
    "1200",
    "1800"
  ],
  "server_threads": 4,
  "upload_dir": "/var/lib/hokku/images",
  "version": 10
}
