[Unit]
Description=Hokku Spectra 6 image server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hokku-server /var/lib/hokku/config.json
Environment="PYTHONUNBUFFERED=1"
DynamicUser=yes
StateDirectory=hokku
CacheDirectory=hokku
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
