[Unit]
Description=Hokku Server
After=network.target
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/hokku-server /var/lib/hokku/config.json
Environment="PYTHONUNBUFFERED=1"
Environment="NUMBA_CACHE_DIR=/var/lib/hokku/numba_cache"
DynamicUser=yes
StateDirectory=hokku hokku/numba_cache
CacheDirectory=hokku
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
